/* The following CSS prevents Safari from changing the font size when the device is rotated - you may or may not need this */
body, html {
	-webkit-text-size-adjust: 100%; /* prevents text size from changing on orientation change */
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.page, .menu-reveal {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 10px;
	
	transition: .4s ease-out;
}
.menu-reveal {
	z-index: -1;
	background: #444;
}
.menu-reveal a {
	color: #fff;
	text-decoration: none;
}
.menu-is-revealed .page {
	-webkit-transform: translateX(80%);
}
